.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  padding-left: 2vw;
  margin-top: -20px;
}

.container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url("../../assets/BG 2.png"); 
  background-repeat: no-repeat;
  object-fit: cover;
}
.intro {
  min-height: 100rem;
  max-width: 65%;
  margin: 0 16vw;
}
.left {
  font-size: 1.22rem;
  word-spacing: 1.65px;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.954);
  padding-top: 5vh;
  margin-bottom: 5vh;
  font-family: "DM Sans", sans-serif;
}

.right {
  height: 35rem;
  width: 65%;
}
.glass {
  height: 35rem;
  width: 64vw;
  background-image: url("../../assets/glass.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collageimg {
  height: 62vh;
  width: 52vw;
}
.sponsors {
  height: 20rem;
  width: 64vw;
  margin-top: 12vh;
}
.sphead {
  text-align: center;
  color: #8EEEF9;
  font-family: rabu-kliwon;
  font-size: 2rem;
  margin-bottom: 2px;

}
.spcontent {
  height: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spcontent img {
  width: 16%;
}
.hide {
  display: none;
}
.show1 {
  display: block;
}

@media (max-width: 800px) {
  .intro {
    min-height: 85rem;
  }
  .left {
    font-size: 1rem;
    word-spacing: 1.45px;
    line-height: 1.65rem;
  }
  .right {
    height: 22rem;
    width: 65%;
  }
  .glass {
    height: 22rem;
    width: 64vw;
  }

  .collageimg {
    height: 15rem;
    width: 52vw;
  }
  .sponsors {
    height: 8rem;
    width: 64vw;
    margin-top: 5vh;
  }
  .sphead {
    font-size: 1rem;
  }
  .spcontent {
    height: 6rem;
  }
  .show1 {
    display: none;
  }
  .hide {
    display: block;
    text-align: center;
    background-color: rgb(35, 107, 138);
    border-radius: 5px;
    width: 35%;
    margin: auto;
    margin-top: 0.5rem;
  }
}
