
.pp,
.pp img {
    height: 250px;
    width: 350px;
}

.leftframe,
.rightframe {
    height: 40%;
    /* width: 50%; */
    /* transform: matrix(-0.98, -0.22, -0.22, 0.98, 0, 0); */
}

.team img {
    height: 300px
}

.rightframe {
    position: absolute;
    right: 0vw;
}

.frame img {
    position: absolute;
    /* top: 340px; */
    top: 20vh;
}

.topteam {
    background-image: url("./home_bg.jpg");
    background-size: cover;
    height: 650px;
    /* background-color:  #22849c; */
}

.cards11 {
    /* background: url("../../../public/assets/images/LandingBack.png");
    background-color: black;
    min-height: 100vh; */
    flex-wrap: wrap;
    padding-bottom: 2rem;
    /* overflow: hidden; */
}

.main {
    /* background: url("../../../public/assets/images/LandingBack.png"); */
    background-color: black;
    min-height: 100vh;
}

@media screen and (max-width: 768px) {
    .topteam {
        /* background-image: url("../../assets/images/finalbg.png"); */
        /* background-image: url("../Home/images/dark_bg.jpg"); */
        background-image: url("./home_phone_bg.jpg");
        background-size: cover;
        height: 500px;
      }
}