/* Modal Section */

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  opacity: 1;
  transition: all 2s ease;
}

.modalContent {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1001;
  transition: opacity 0.3s ease;
}

.modalScrollableContent {
  max-height: 100vh; /* Set a maximum height for the scrollable content */
  overflow-y: auto;
}

/* Mobile */
@media screen and (max-width: 720px) {
  .modalContent {
    top: 0%;
  }
}

/* Hero Section */

.heroSection {
  height: 100vh;
  width: 100%;
  background: url("images/desktop_bg.jpg");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 5rem;
  align-items: center;
}

.eventDate {
  font-family: rabu-kliwon;
  color: var(--light-green);
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btnBox {
  display: flex;
  gap: 3rem;
}

.sectionsCont {
  background-color: black;
  background: url("images/dark_bg.jpg");
  background-size: contain;
  background-position-y: top;
  background-repeat: no-repeat;
}

/* Info Section */

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.eventDesc {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  padding: 3rem 5rem;
}

/* Image Collage */

.imageCollage {
  width: 100%;
  padding: 4rem 5rem;
  position: relative;
}

.blurBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.607);
  border: 1px solid rgba(0, 0, 0, 0.228);
  backdrop-filter: blur(10px);
}

/* Sponsors Section */

.sponsorsSection,
.offersSection {
  margin-top: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  background-color: black;
  font-family: rabu-kliwon;
  color: var(--light-green);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 57.6px */
}

.sponsorsPicsCont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sponsorsPicsCont img {
  width: auto;
  height: 6rem;
  border-radius: 0.2rem;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Offers Section */

.offersCont {
  height: 10rem;
}

/* Tablet styling */
@media screen and (max-width: 780px) {
}

/* Phone styling */
@media screen and (max-width: 590px) {
  .heroSection {
    background: url("images/phone_bg.jpg"); /* does not work when in public folder */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }

  .eventDate {
    font-size: 1.7rem;
  }

  .btnBox {
    flex-direction: column;
  }

  .eventDesc {
    padding: 0;
    font-size: 1.1rem;
  }

  .imageCollage {
    padding: 0;
  }
}
