@font-face {
  font-family: "rabu-kliwon";
  src: local("rabu-kliwon"), url("fonts/rabu-kliwon.otf") format("opentype");
  font-weight: normal;
}

:root {
  --light-green: #7EF2F6;
  --dark-blue: #133B69;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  background-color: black;
}

button,
Link {
  cursor: pointer;
}